body * {
  margin: 0;
}

body {
  color: olive;
  margin: 0;
}

h1 {
  font-size: 50pt;
}

.ai {
  background-color: orange !important;
}

body h2 + p {
  background-color: lime;
}

body p[class] {
  background-color: yellow;
}

#ai {
  background-color: floralwhite;
}

.ai.copilot {
  border: 10px dotted blue;
}

a {
  color: inherit;
}
