body {
  background-color: hsl(180, 50%, 50%);
  background-image: url(/src/assets/images/rabbit.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 100vw;
  background-attachment: fixed;
  background-size: 100px 130px;
  background:
    url(/src/assets/images/cloud.png) no-repeat 0 100px fixed,
    url(/src/assets/images/sun.png) no-repeat 150px 50px / 150px 150px fixed,
    linear-gradient(pink, aqua);
}
