@import url(/src/common/best-reset.css);
@import url(/src/common/a11y.css);

body {
  background: yellow;
  font-size: clamp(0.5rem, 2vw, 2rem);

  @media (min-width: 600px) and (max-width: 800px) {
    background: pink;
    /* font-size: 2rem; */

    @media (min-width: 1200px) {
      body {
        background: lime;
      }
    }
    /* @media (orientation: landscape) {
  body {
    background: orange;
  } */
  }
}
