@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';
@import '/src/common/a11y.css';
@import '/src/common/base.css';

.container {
  background: var(--pastel-lavender);
  padding: 1em;

  .case {
    margin-block: 20px;
  }

  .case-01 {
    column-width: 15rem;
    column-rule: 1px solid red;
    column-gap: 2rem;
  }
  .case-02 {
    column-count: 4;
    column-rule: 1px dotted green;
    span {
      display: block;
      column-span: all;
      background: var(--pastel-dark-blue);
      color: var(--white);
      padding: 0.5em;
    }
  }
  .case-03 {
    columns: 5rem;
    column-rule: 4px double blue;
  }
  .case-04 {
    columns: 2;
    column-fill: auto;
  }
  .case-05 {
    column-fill: auto;
    columns: 2;
    block-size: 100px;
    
  }
}
.wrapper {
  background: var(--pastel-lemon);
  padding: 1em;
  columns: 5;
  .case {
    break-after: always;
  }
}
